<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461211317713-nih4nvudu5trplrfssuv4f7qasgjbme8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461211317713-nih4nvudu5trplrfssuv4f7qasgjbme8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>461211317713-148q5ggrfndpesk3ffpjr4jjfv7eg0ra.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSZHyPurrGRodXqx2sqxTFbf0CqeTZ5pQ</string>
	<key>GCM_SENDER_ID</key>
	<string>461211317713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsApp</string>
	<key>PROJECT_ID</key>
	<string>whats-app-b992d</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-app-b992d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461211317713:ios:c9ae719f534a4281f25cf0</string>
</dict>
</plist>