<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666826650748-50f16h24s6qaijmq95krrj3rb1mai6vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666826650748-50f16h24s6qaijmq95krrj3rb1mai6vi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>666826650748-g0hui1ufb9t35khis5sg2pc0dmmud1q8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjphoOMcqlv_YRAVUNXFD9Hv_N0DSTd48</string>
	<key>GCM_SENDER_ID</key>
	<string>666826650748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsApp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-b5670</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-b5670.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666826650748:ios:81794dc5855855d502c5f9</string>
</dict>
</plist>